@import "tailwindcss";

/* Liquid Glass Modal Animations */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* html,
body {
  cursor:
    url("/wooden_spoon_cursor.cur") 4 4,
    auto !important;
}

*:not(input):not(textarea):not([contenteditable="true"]) {
  cursor:
    url("/wooden_spoon_cursor.cur") 4 4,
    auto !important;
} */
